/* RESET STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center; /*Make sure this is fixed*/
	width: 100vw;
	height:100vh;
}

.container .stopwatch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	padding: 30px 50px;
	box-shadow: 0 0 5px lightgray;
	border-radius: 5px;
	user-select: none;
}

.container .stopwatch .display-container {
	display: flex;
}

.container .stopwatch .display-container .data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container .stopwatch .display-container .data-container .time-value,
.container .stopwatch .display-container .colon /*No data container*/{
	font-size: 112px;
}

.container .stopwatch .display-container .data-container .label {
	font-size: 24px;
}

.container .stopwatch .button-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.container .stopwatch .button-container .btn {
	margin: 5px;
	padding: 5px 15px;
	width: 100%;
	font-size: 36px;
	border: none;
	border-radius: 5px;
	color: white;
}

.container .stopwatch .button-container .btn:hover, 
.container .stopwatch .button-container .btn:focus,
.container .stopwatch .button-container .btn:active {
	color: yellow;
	cursor: pointer;
}

.container .stopwatch .button-container .btn.start {
	background-color: darkgreen;
}

.container .stopwatch .button-container .btn.stop {
	background-color: red;
}

.container .stopwatch .button-container .btn.reset {
	background-color: lightgray;
}
